<section class="header">
    <div class="background-footer">
        <div class="block-content-footer">
            <div class="feature">
                <div class="block-feature">
                    <h1>About</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m inim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.</h2>
                    <ul>
                        <li><a class="pinterest" href="#"></a></li>
                        <li><a class="twitter" href="#"></a></li>
                        <li><a class="facebook" href="#"></a></li>
                        <li><a class="google" href="#"></a></li>
                        <li><a class="instagram" href="#"></a></li>
                    </ul>
                </div>
                <div class="block-feature">
                    <h1>CONTACT US</h1>
                    <h2 style="background-image: url(./img/placeholder.png)">5419 Joseph Mountains
                        Apt. 716</h2>
                    <p style="background-image: url(./img/phone-call.png)">+1 234 567 89
                        +1 234 678 90</p>
                </div>
                <div class="block-feature pad-feature">
                    <h2 style="background-image: url(./img/envelope.png)">joga.info@example.com</h2>
                    <p style="background-image: url(./img/planet-earth.png)">www.example.com</p>
                </div>
            </div>
        </div>
    </div>

    <div class="background-footer-last">
        <div class="caption-footer">
            <h1>Copyright  ©  2016-2017 Yoga classes</h1>
        </div>
    </div>
</section>