<section class="header">
<div class="background-header">
    <div class="menu-all-header">
    <div class="menu-left-header">
        <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Reservation</a></li>
            <li><a href="#">Gallery</a></li>
        </ul>
    </div>
    <div class="logo-center-header">
        <img src="../img/logo.png">
        <h1>YOGA</h1>
    </div>
    <div class="menu-right-header">
        <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Elements</a></li>
            <li><a href="#">Shop</a></li>
        </ul>
    </div>
    </div>
</div>
</section>
