@font-face {
  font-family: "Open Sans Semibold";
  src: url(../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf);
}

@font-face {
  font-family: "Champagne&Limousines";
  src: url(../fonts/Champagne&Limousines-Bold/Champagne&Limousines-Bold.ttf);
}

@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold/OpenSans-Bold.ttf);
}

@font-face {
  font-family: "Freestyle Script";
  src: url(../fonts/Freestyle-Script/Freestyle-Script.TTF);
}

@font-face {
  font-family: "Open Sans Regular";
  src: url(../fonts/OpenSans-Regular/OpenSans-Regular.ttf);
}