@font-face {
  font-family: "Open Sans Semibold";
  src: url(../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf);
}

@font-face {
  font-family: "Champagne&Limousines";
  src: url(../fonts/Champagne&Limousines-Bold/Champagne&Limousines-Bold.ttf);
}